@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo a{
  text-decoration: none;
  color: black
}

.logo a:hover{
  text-decoration: none;
}

.logo a:visited{
  text-decoration: none;
  /* color: auto; */
}

.logo a:active{
  text-decoration: none;
}

.logo a:focus{
  text-decoration: none;
}

.logo a:link{
  text-decoration: none;
}


